:root {
  --color-primary: hsl(52, 94%, 94%);
  --color-secondary: hsl(52, 5%, 5%);
  --color-secondary-dark: hsl(52, 5%, 3%);
  --color-secondary-light: hsl(52, 5%, 10%);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

section {
  scroll-margin-top: 40px;
}

.nav {
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;
  padding: 16px 24px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary-dark);
  z-index: 10;
}

.nav .nav-logo {
  font-size: 32px;
  font-weight: 800;
  color: var(--color-primary);
}

.nav .nav-list {
  display: flex;
  gap: 24px;
}

.nav .nav-item {
  list-style: none;
}

.nav .nav-link {
  text-decoration: none;
  padding: 16px;
  border-radius: 16px;
  color: var(--color-primary);
  transition: all 0.3s ease;
}

.nav .nav-link:hover {
  background-color: var(--color-secondary-light);
  transition: all 0.3s ease;
}

.hero {
  background-color: var(--color-secondary);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}

.hero .title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 24px;
}

.hero .subtitle {
  font-size: 24px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--color-secondary-light);
  color: var(--color-primary);
  padding: 80px 24px;
  gap: 48px;
}

.about-image img {
  width: 100%;
  border-radius: 16px;
  opacity: 0.9;
}

.about .title {
  font-size: 48px;
}

.about .text {
  font-size: 20px;
}

.skills {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
  padding: 80px 24px;
}

.skills .title {
  font-size: 48px;
  font-weight: 700;
}

.skills .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 24px;
  width: 100%;
}

.skills .card {
  list-style: none;
  background-color: var(--color-secondary-light);
  padding: 16px;
  border-radius: 16px;
}

.skills .card-title {
  margin-bottom: 12px;
}

.skills .card-inner {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--color-secondary-dark);
  color: var(--color-primary);
}

.footer .contact h3 {
  margin-bottom: 8px;
}

.footer a {
  text-decoration: none;
  color: var(--color-primary);
  opacity: 0.8;
}

.footer a:hover {
  text-decoration: underline;
  opacity: 1;
}

.footer .copyright {
  text-align: right;
  font-size: 14px;
}
